/*Selector universal*/
* {
    box-sizing: border-box;
}

/*Selector de etiqueta*/
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;  /*Son los 3 tipos de fuentes que puede usar, las que pueden estar en mi carpeta de fonts*/
    margin: 0;
    padding: 0;
    background-color: rgb(161, 192, 123);
}

header {
    padding: 9.5px;
    background-color: #f1f3f2;
    align-content: center;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: rgb(82, 105, 70);
    Display: flex;
    Justify-content: space-evenly;
    Align-items: center;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

section { 
    flex: 70%;
    background-color: rgb(161, 192, 123);
    padding: 90px;
    padding-top: 3em;
    text-align: justify;
}

footer {
    padding: 5px;
    text-align: center;
    background-color: rgb(211, 214, 207);
}

div.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

img {
    width: 30%;
    height: 60%;
    padding-top: 1em;
    padding-bottom: 1.8em;
    border-radius: 1.5em;
}


li{
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 0.5em;
}

input textarea{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 7px;
    font-size: 15px;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 200px;
}

/*Selector de clase*/
.row {
    display: flex;
    flex-wrap: wrap;
}


.contenedor{
    width: 100%;
    background-color: rgb(161, 192, 123);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Titulo {
    background-color: rgb(161, 192, 123);
    width: 100%;
    text-align: justify;
    padding: 15px;
}

.caja img{
    width: 270px;
    height: 270px;
}

.caja button{
    border-radius: 0.5em;
    opacity: 90%;
    border: solid 1px rgb(82, 105, 70);
}

.caja {
    margin: 16px;
    padding-bottom: 1em;
    text-align: center;
}

.contenedorContactos{
    width: 50%;
    margin: auto;
    opacity: 85%;
    background: rgb(209, 209, 209);
    padding: 10px 20px;
    margin-top: 0.3em;
    margin-bottom: 3em;
    border-radius: 7px;
    display: flex;
}

/*Selector de id*/
#imagenEncabezado{
    width: 90%;
    height: auto;
}

#boton{
    border-radius: 0.5em;
    opacity: 90%;
    border: solid 1px rgb(82, 105, 70);
    margin-top: 1em;
}

#contenido{
    min-height: calc(100vh - 70px - 60px - 60px - 53px); 
    margin: 0 auto;
    background-color: rgb(161, 192, 123);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
