/*Selector universal*/
* {
    box-sizing: border-box;
}

/*Selector de etiqueta*/
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;  /*Son los 3 tipos de fuentes que puede usar, las que pueden estar en mi carpeta de fonts*/
    margin: 0;
    padding: 0;
    background-color: rgb(161, 192, 123);
}

header {
    padding: 9.5px;
    background-color: #f1f3f2;
    align-content: center;
}

img {
    width: 40%;
    height: auto;
    border-radius: 1.5em;
}

/*Selector de id*/
#imagenEncabezado{
    width: 90%;
    height: auto;
}

#contenedorLogin{
    width: 350px;
    height: 300px;
    padding: 2em 2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    background-color: whitesmoke;
    opacity: 80%;
    border-radius: 0.5em;
}

#encabezadoLogin{
    text-align: center;
}

.lblLogin{
    font-size: medium;
}

#contenido div{
    flex-basis: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column;
    text-align: justify;
}
